/* .top{
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
} */

.rightContainer{
    /* background-color: aqua; */
    overflow-y: auto;

}

.right-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: Set the background to transparent if needed */
  }