@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    display: flex;
    gap: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.left{
    width: 20%;
    height: 600px;
    border: 1px solid #ccc;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.webCam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
video{
    width: 500px;
}
.btn{
  background-color: transparent;
  color: white;
  border: 0;
}
.videoMenu{
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 1px solid white;
    height: 100px;
    left: 25%;
    width: 50%;
}